
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    Font-size: 12px;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    max-width: 1440px ;
    height: 678px;
}

/* formataçao arrow down*/

details summary::-webkit-details-marker{
    color: hsl(14, 88%, 65%);
    float: right;   
}


/* section retangolo branco*/

#conteudo-branco{
    position:relative;
    top: 40px;
    left: 15%;
    width: 70%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    background-image: url(/images/bg-pattern-desktop.svg);
    border-radius: 10px;
    text-align: right;
    overflow: auto;
    
}
 
/* div texto all */

#texto{
    display: inline-block;
    position: relative;
    text-align: left;
    width: 39%;
    height: 45%;
    padding: 10px 65px 0px 0px;
}

#texto h1{
    font-size: 21pt;
    padding-left:10px ;
    padding-top: 10px;
}

/* parte de títulos do sumario */

.summary-title{
    font-size: 17px;
    color: hsla(240, 6%, 13%, 0.788);
    text-align: left;
    user-select: none;
    padding: 5px 10px 5px 5px;
    margin: 45px 0px 25px 0px;
    width: auto;
    font-family: 'Kumbh Sans', sans-serif;
    border: none
}

/* parágrafos do samario*/

.par-faq{
    text-align: left;
    font-size: 10pt;
    color: hsla(240, 6%, 13%, 0.616);
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}

/* imagens block / woman*/

#mulher-icon{
    float: left;
    position: absolute;
    width: 50%;
    left: -50px;
    top: 12%;
    bottom: auto;
    overflow:  hidden;
}

#img-bloco{
    position: fixed;
    top: 250px;
    left: 135px;
    overflow: hidden;
}
 /* formatação do rodapé*/

#rodape{
    display: inline-block;
   position: relative;
   font-size: 11px;
   left: 550px;
   right: 550px;
   top: 60px;
}

#rod-t, i{
    font-size: 12pt;
    color: rgba(236, 238, 238, 0.705);
    position: relative;
    text-align: center;
    
}

i:hover{
    color: rgb(0, 0, 0);
    transition: 0.4s;
}
